{% extends "base.html" %} {% block title %}Schedules{% endblock %}
{% block content %}
{% if no_sched == 0 %}
<h1 class="title">
    You Have No Schedules.
</h1>
{% endif%}
<ul class="list-group list-group-flush" id="notes">
{% for sched in schedules %}
  <li class="list-group-item">
    {{ sched.name }}
    <ul>
        <li>
            When: {{sched.timeh12}}:{{sched.timem}} {{sched.per_of_day}}
        </li>
        <li>
            How long: {{sched.duration}} seconds
        </li>
        <li>
          How long: {{sched.id}} seconds
      </li>

    </ul>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<figure>
<a href="/add_sched"> <img src="{{ url_for('static', filename='add_new.svg')}}" width="25%" class="add_new" ></a>

<figcaption>
    <h2 style="text-align: center;margin-top: 10px;">
        Add New Schedule
    </h2>
</figcaption>
</figure>
{% endblock %}